SECRET_KEY=your_secret_key

FIREBASE_CREDENTIALS=firebase/serviceAccountKey.json

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password

SMTP_FROM_NAME=XSAP Alerts